body{
    margin:0;
    padding:0;
    background-image: url(https://wallpaper.dog/large/20502877.jpg);
  }
  .flag{
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  .image{
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

.title_text{
    font-size: 4.625rem;
    font-family: 'Merriweather', serif;
    color:rgb(184, 8, 8);
    text-align: center; 
    font-weight: bold;
    margin-top: 3px;
} 
.countries{
display: flex;
align-items: center;
justify-content: center;

}
.bottom_container{
    display: flex;
    align-items: center;
justify-content: center;
}
.btn {
  background: #f00c0c;
  background-image: -webkit-linear-gradient(top, #f00c0c, #099131);
  background-image: -moz-linear-gradient(top, #f00c0c, #099131);
  background-image: -ms-linear-gradient(top, #f00c0c, #099131);
  background-image: -o-linear-gradient(top, #f00c0c, #099131);
  background-image: linear-gradient(to bottom, #f00c0c, #099131);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 22px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin: 10px 10px;
  display: inline-block;
  /* vertical-align: middle; */
}

.btn:hover {
  background: #8c3030;
  background-image: -webkit-linear-gradient(top, #8c3030, #4d8037);
  background-image: -moz-linear-gradient(top, #8c3030, #4d8037);
  background-image: -ms-linear-gradient(top, #8c3030, #4d8037);
  background-image: -o-linear-gradient(top, #8c3030, #4d8037);
  background-image: linear-gradient(to bottom, #8c3030, #4d8037);
  text-decoration: none;
}

